Mobile/M-SACCO Webservice/Web References/DCSAcountDetails/DCSAccountDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/dcsaccountdetails" targetNamespace="urn:microsoft-dynamics-schemas/page/dcsaccountdetails" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/dcsaccountdetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="DCSAccountDetails">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BOSA_Account_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MPESA_Mobile_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Deposit_Contribution" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Share_Capital" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Registration_Fees" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gross_Salary" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Salary" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Deductions" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Loan_Repayments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Loan_Repayment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Loan_repayments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_of_Active_Loans" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_of_Join" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Balances_Filtered" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Defaulter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Standing_Orders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Direct_Debits" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Repayment_Frequency" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Deposits_Guaranteed" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Other_Income" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualified_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bridge" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Present_VAF" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Security" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_FOSA_Commitments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FOSA_Commitments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salary_Processed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Deposit_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Msacco_Trans_Frequency" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Msacco_Last_Trans_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FOSA_Deposits" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FOSA_Transactions_1M" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Class_B_Shares" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Instant_Loan_Limit" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DCSAccountDetails_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="DCSAccountDetails_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="BOSA_Account_No" />
          <xsd:enumeration value="MPESA_Mobile_No" />
          <xsd:enumeration value="ID_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Deposit_Contribution" />
          <xsd:enumeration value="Share_Capital" />
          <xsd:enumeration value="Registration_Fees" />
          <xsd:enumeration value="Gross_Salary" />
          <xsd:enumeration value="Net_Salary" />
          <xsd:enumeration value="Deductions" />
          <xsd:enumeration value="Expected_Loan_Repayments" />
          <xsd:enumeration value="Last_Loan_Repayment_Date" />
          <xsd:enumeration value="Total_Loan_repayments" />
          <xsd:enumeration value="No_of_Active_Loans" />
          <xsd:enumeration value="Date_of_Join" />
          <xsd:enumeration value="Loan_Balances_Filtered" />
          <xsd:enumeration value="Defaulter" />
          <xsd:enumeration value="Standing_Orders" />
          <xsd:enumeration value="Direct_Debits" />
          <xsd:enumeration value="Loan_Repayment_Frequency" />
          <xsd:enumeration value="Deposits_Guaranteed" />
          <xsd:enumeration value="Other_Income" />
          <xsd:enumeration value="Qualified_Amount" />
          <xsd:enumeration value="Bridge" />
          <xsd:enumeration value="Present_VAF" />
          <xsd:enumeration value="Loan_Security" />
          <xsd:enumeration value="Has_FOSA_Commitments" />
          <xsd:enumeration value="FOSA_Commitments" />
          <xsd:enumeration value="Salary_Processed" />
          <xsd:enumeration value="Last_Deposit_Date" />
          <xsd:enumeration value="Msacco_Trans_Frequency" />
          <xsd:enumeration value="Msacco_Last_Trans_Date" />
          <xsd:enumeration value="FOSA_Deposits" />
          <xsd:enumeration value="FOSA_Transactions_1M" />
          <xsd:enumeration value="Class_B_Shares" />
          <xsd:enumeration value="Instant_Loan_Limit" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DCSAccountDetails_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:DCSAccountDetails_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:DCSAccountDetails_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:DCSAccountDetails_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails_List" type="tns:DCSAccountDetails_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails_List" type="tns:DCSAccountDetails_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails" type="tns:DCSAccountDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails_List" type="tns:DCSAccountDetails_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DCSAccountDetails_List" type="tns:DCSAccountDetails_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="DCSAccountDetails_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="DCSAccountDetails_Binding" type="tns:DCSAccountDetails_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/dcsaccountdetails:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="DCSAccountDetails_Service">
    <port name="DCSAccountDetails_Port" binding="tns:DCSAccountDetails_Binding">
      <address location="http://172.17.1.3:6012/BandariTest/WS/Bandari%20Sacco%20Ltd/Page/DCSAccountDetails" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>