Baraka/MobileService/Web References/Applicatons/MobileApplications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/mobileapplications" targetNamespace="urn:microsoft-dynamics-schemas/page/mobileapplications" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/mobileapplications" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Pending" />
          <xsd:enumeration value="Approved" />
          <xsd:enumeration value="Rejected" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Sent_To_Server">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MobileApplications">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_ID_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MPESA_Mobile_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sent_To_Server" type="tns:Sent_To_Server" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MobileApplications_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="MobileApplications" type="tns:MobileApplications" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="MobileApplications_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Customer_ID_No" />
          <xsd:enumeration value="Customer_Name" />
          <xsd:enumeration value="MPESA_Mobile_No" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Sent_To_Server" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MobileApplications_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:MobileApplications_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="MobileApplications" type="tns:MobileApplications" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:MobileApplications_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:MobileApplications_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MobileApplications" type="tns:MobileApplications" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MobileApplications" type="tns:MobileApplications" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MobileApplications_List" type="tns:MobileApplications_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MobileApplications_List" type="tns:MobileApplications_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="MobileApplications_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="MobileApplications_Binding" type="tns:MobileApplications_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/mobileapplications:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="MobileApplications_Service">
    <port name="MobileApplications_Port" binding="tns:MobileApplications_Binding">
      <address location="http://vaio:13/Baraka/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/MobileApplications" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>