Bridge/Chai/Web References/Atm_Transactions/Atm_Transactions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/atm_transactions" targetNamespace="urn:microsoft-dynamics-schemas/page/atm_transactions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/atm_transactions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Source">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="COOP" />
          <xsd:enumeration value="M_PESA" />
          <xsd:enumeration value="ATM" />
          <xsd:enumeration value="TIETO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Transaction_Type_Charges">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Balance_Enquiry" />
          <xsd:enumeration value="Mini_Statement" />
          <xsd:enumeration value="Cash_Withdrawal_Coop_ATM" />
          <xsd:enumeration value="Cash_Withdrawal_VISA_ATM" />
          <xsd:enumeration value="Reversal" />
          <xsd:enumeration value="Utility_Payment" />
          <xsd:enumeration value="POS_Normal_Purchase" />
          <xsd:enumeration value="M_PESA_Withdrawal" />
          <xsd:enumeration value="Airtime_Purchase" />
          <xsd:enumeration value="POS_School_Payment" />
          <xsd:enumeration value="POS_Purchase_With_Cash_Back" />
          <xsd:enumeration value="POS_Cash_Deposit" />
          <xsd:enumeration value="POS_Benefit_Cash_Withdrawal" />
          <xsd:enumeration value="POS_Cash_Deposit_to_Card" />
          <xsd:enumeration value="POS_M_Banking" />
          <xsd:enumeration value="POS_Cash_Withdrawal" />
          <xsd:enumeration value="POS_Balance_Enquiry" />
          <xsd:enumeration value="POS_Mini_Statement" />
          <xsd:enumeration value="MINIMUM_BALANCE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="POS_Vendor">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ATM_Lobby" />
          <xsd:enumeration value="Agent_Banking" />
          <xsd:enumeration value="Coop_Branch" />
          <xsd:enumeration value="Sacco_POS" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Atm_Transactions">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_S" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trans_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source" type="tns:Source" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reversed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reversed_Posted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reversal_Trace_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Withdrawal_Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type_Charges" type="tns:Transaction_Type_Charges" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Card_Acceptor_Terminal_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ATM_Card_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Names" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Process_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reference_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Is_Coop_Bank" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="POS_Vendor" type="tns:POS_Vendor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Atm_Transactions_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Atm_Transactions" type="tns:Atm_Transactions" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Atm_Transactions_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Trace_ID" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Account_No" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Amount" />
          <xsd:enumeration value="Posting_S" />
          <xsd:enumeration value="Posted" />
          <xsd:enumeration value="Unit_ID" />
          <xsd:enumeration value="Transaction_Type" />
          <xsd:enumeration value="Trans_Time" />
          <xsd:enumeration value="Transaction_Time" />
          <xsd:enumeration value="Transaction_Date" />
          <xsd:enumeration value="Source" />
          <xsd:enumeration value="Reversed" />
          <xsd:enumeration value="Reversed_Posted" />
          <xsd:enumeration value="Reversal_Trace_ID" />
          <xsd:enumeration value="Transaction_Description" />
          <xsd:enumeration value="Withdrawal_Location" />
          <xsd:enumeration value="Entry_No" />
          <xsd:enumeration value="Transaction_Type_Charges" />
          <xsd:enumeration value="Card_Acceptor_Terminal_ID" />
          <xsd:enumeration value="ATM_Card_No" />
          <xsd:enumeration value="Customer_Names" />
          <xsd:enumeration value="Process_Code" />
          <xsd:enumeration value="Reference_No" />
          <xsd:enumeration value="Is_Coop_Bank" />
          <xsd:enumeration value="POS_Vendor" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Atm_Transactions_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Atm_Transactions_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entry_No" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Atm_Transactions" type="tns:Atm_Transactions" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Atm_Transactions" type="tns:Atm_Transactions" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Atm_Transactions_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Atm_Transactions_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Atm_Transactions" type="tns:Atm_Transactions" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Atm_Transactions" type="tns:Atm_Transactions" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Atm_Transactions_List" type="tns:Atm_Transactions_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Atm_Transactions_List" type="tns:Atm_Transactions_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <portType name="Atm_Transactions_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
  </portType>
  <binding name="Atm_Transactions_Binding" type="tns:Atm_Transactions_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/atm_transactions:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Atm_Transactions_Service">
    <port name="Atm_Transactions_Port" binding="tns:Atm_Transactions_Binding">
      <address location="http://paulo:212/Bandari/WS/BANDARI/Page/Atm_Transactions" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>