Mobile/S-Mobile/Clients/Bandari/Web References/Loans/Loans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/loans" targetNamespace="urn:microsoft-dynamics-schemas/page/loans" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/loans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Loan_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Appraisal" />
          <xsd:enumeration value="Posted" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Security" />
          <xsd:enumeration value="Guarantor" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Account_Types">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="All_Deposits" />
          <xsd:enumeration value="FOSA_Deposits" />
          <xsd:enumeration value="BOSA_Deposits" />
          <xsd:enumeration value="Fixed_Deposit" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Mobile_Loan_Securities">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount_Guaranteed" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Percent_of_Value" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount_Released" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outstanding_Guarantee" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Max_Guaranteed_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Processed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Guarantor_Notified" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Released" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Staff_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Owner" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Owner_Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mobile_Loan_Securities_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Mobile_Loan_Securities" type="tns:Mobile_Loan_Securities" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Loans">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Product" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Member_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Status" type="tns:Loan_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Principle_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Telephone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Accrued_Interest" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Max_Installments" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Product_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Repayments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Member_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_Loan_Securities" type="tns:Mobile_Loan_Securities_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Loans_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Loans" type="tns:Loans" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Loans_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Loan_No" />
          <xsd:enumeration value="Application_Date" />
          <xsd:enumeration value="Loan_Product" />
          <xsd:enumeration value="Member_No" />
          <xsd:enumeration value="Loan_Balance" />
          <xsd:enumeration value="Loan_Status" />
          <xsd:enumeration value="Principle_Amount" />
          <xsd:enumeration value="Telephone" />
          <xsd:enumeration value="Loan_Name" />
          <xsd:enumeration value="Accrued_Interest" />
          <xsd:enumeration value="Max_Installments" />
          <xsd:enumeration value="Product_Description" />
          <xsd:enumeration value="Loan_Repayments" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Member_Name" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Loans_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Loans_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Loan_No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Loans" type="tns:Loans" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Loans" type="tns:Loans" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Loans_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Loans_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Mobile_Loan_Securities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Mobile_Loan_Securities_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Mobile_Loan_Securities_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Mobile_Loan_Securities_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Delete_Mobile_Loan_Securities">
    <part name="parameters" element="tns:Delete_Mobile_Loan_Securities" />
  </message>
  <message name="Delete_Mobile_Loan_Securities_Result">
    <part name="parameters" element="tns:Delete_Mobile_Loan_Securities_Result" />
  </message>
  <portType name="Loans_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Delete_Mobile_Loan_Securities">
      <input name="Delete_Mobile_Loan_Securities" message="tns:Delete_Mobile_Loan_Securities" />
      <output name="Delete_Mobile_Loan_Securities_Result" message="tns:Delete_Mobile_Loan_Securities_Result" />
    </operation>
  </portType>
  <binding name="Loans_Binding" type="tns:Loans_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Mobile_Loan_Securities">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/loans:Delete_Mobile_Loan_Securities" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Mobile_Loan_Securities">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Mobile_Loan_Securities_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Loans_Service">
    <port name="Loans_Port" binding="tns:Loans_Binding">
      <address location="http://paulo:212/Bandari/WS/BANDARI/Page/Loans" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>