Rice/Rice/Web References/Outlets/Outlets.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/outlets" targetNamespace="urn:microsoft-dynamics-schemas/page/outlets" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/outlets" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Price_Category">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Customer_Price_Group" />
          <xsd:enumeration value="All_Customers" />
          <xsd:enumeration value="Campaign" />
          <xsd:enumeration value="Whole_Sale" />
          <xsd:enumeration value="Distributor" />
          <xsd:enumeration value="Members" />
          <xsd:enumeration value="Garage" />
          <xsd:enumeration value="Nairobi" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Default_Bin_Selection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Fixed_Bin" />
          <xsd:enumeration value="Last_Used_Bin" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Special_Equipment">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="According_to_Bin" />
          <xsd:enumeration value="According_to_SKU_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Bin_Capacity_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never_Check_Capacity" />
          <xsd:enumeration value="Allow_More_Than_Max_Capacity" />
          <xsd:enumeration value="Prohibit_More_Than_Max_Cap" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Location_Items">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Location_Items_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Location_Items" type="tns:Location_Items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Outlets">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_As_In_Transit" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Category" type="tns:Price_Category" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_Page" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Require_Receive" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Require_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Require_Put_away" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Put_away_Worksheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Require_Pick" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Mandatory" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Directed_Put_away_and_Pick" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_ADCS" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Default_Bin_Selection" type="tns:Default_Bin_Selection" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customized_Calendar" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Cross_Docking" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cross_Dock_Due_Date_Calc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receipt_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Open_Shop_Floor_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Production_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="From_Production_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Adjustment_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cross_Dock_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Assembly_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="From_Assembly_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Asm_to_Order_Shpt_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Equipment" type="tns:Special_Equipment" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Capacity_Policy" type="tns:Bin_Capacity_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Breakbulk" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Put_away_Template_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Always_Create_Put_away_Line" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Always_Create_Pick_Line" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pick_According_to_FEFO" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Items" type="tns:Location_Items_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Outlets_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Outlets" type="tns:Outlets" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Outlets_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Address" />
          <xsd:enumeration value="Address_2" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="Country_Region_Code" />
          <xsd:enumeration value="Contact" />
          <xsd:enumeration value="Use_As_In_Transit" />
          <xsd:enumeration value="Account" />
          <xsd:enumeration value="Price_Category" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="Fax_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Home_Page" />
          <xsd:enumeration value="Require_Receive" />
          <xsd:enumeration value="Require_Shipment" />
          <xsd:enumeration value="Require_Put_away" />
          <xsd:enumeration value="Use_Put_away_Worksheet" />
          <xsd:enumeration value="Require_Pick" />
          <xsd:enumeration value="Bin_Mandatory" />
          <xsd:enumeration value="Directed_Put_away_and_Pick" />
          <xsd:enumeration value="Use_ADCS" />
          <xsd:enumeration value="Default_Bin_Selection" />
          <xsd:enumeration value="Outbound_Whse_Handling_Time" />
          <xsd:enumeration value="Inbound_Whse_Handling_Time" />
          <xsd:enumeration value="Base_Calendar_Code" />
          <xsd:enumeration value="Customized_Calendar" />
          <xsd:enumeration value="Use_Cross_Docking" />
          <xsd:enumeration value="Cross_Dock_Due_Date_Calc" />
          <xsd:enumeration value="Receipt_Bin_Code" />
          <xsd:enumeration value="Shipment_Bin_Code" />
          <xsd:enumeration value="Open_Shop_Floor_Bin_Code" />
          <xsd:enumeration value="To_Production_Bin_Code" />
          <xsd:enumeration value="From_Production_Bin_Code" />
          <xsd:enumeration value="Adjustment_Bin_Code" />
          <xsd:enumeration value="Cross_Dock_Bin_Code" />
          <xsd:enumeration value="To_Assembly_Bin_Code" />
          <xsd:enumeration value="From_Assembly_Bin_Code" />
          <xsd:enumeration value="Asm_to_Order_Shpt_Bin_Code" />
          <xsd:enumeration value="Special_Equipment" />
          <xsd:enumeration value="Bin_Capacity_Policy" />
          <xsd:enumeration value="Allow_Breakbulk" />
          <xsd:enumeration value="Put_away_Template_Code" />
          <xsd:enumeration value="Always_Create_Put_away_Line" />
          <xsd:enumeration value="Always_Create_Pick_Line" />
          <xsd:enumeration value="Pick_According_to_FEFO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Outlets_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Outlets_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Outlets_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Outlets_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets_List" type="tns:Outlets_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets_List" type="tns:Outlets_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets" type="tns:Outlets" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets_List" type="tns:Outlets_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Outlets_List" type="tns:Outlets_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Location_Items">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Location_Items_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Location_Items_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Location_Items_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_Location_Items">
    <part name="parameters" element="tns:Delete_Location_Items" />
  </message>
  <message name="Delete_Location_Items_Result">
    <part name="parameters" element="tns:Delete_Location_Items_Result" />
  </message>
  <portType name="Outlets_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_Location_Items">
      <input name="Delete_Location_Items" message="tns:Delete_Location_Items" />
      <output name="Delete_Location_Items_Result" message="tns:Delete_Location_Items_Result" />
    </operation>
  </portType>
  <binding name="Outlets_Binding" type="tns:Outlets_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Location_Items">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/outlets:Delete_Location_Items" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Location_Items">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Location_Items_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Outlets_Service">
    <port name="Outlets_Port" binding="tns:Outlets_Binding">
      <address location="http://paulo:222/Mwea/WS/MWEA%20RICE%20GROWERS/Page/Outlets" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>