Enwealth/Web References/Mbranch/Mbranch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Mbranch" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Mbranch" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Mbranch" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="Post">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Post_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Sendsms">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="source" type="string" />
            <element minOccurs="1" maxOccurs="1" name="telephone" type="string" />
            <element minOccurs="1" maxOccurs="1" name="textsms" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Sendsms_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="Post">
    <part name="parameters" element="tns:Post" />
  </message>
  <message name="Post_Result">
    <part name="parameters" element="tns:Post_Result" />
  </message>
  <message name="Sendsms">
    <part name="parameters" element="tns:Sendsms" />
  </message>
  <message name="Sendsms_Result">
    <part name="parameters" element="tns:Sendsms_Result" />
  </message>
  <portType name="Mbranch_Port">
    <operation name="Post">
      <input name="Post" message="tns:Post" />
      <output name="Post_Result" message="tns:Post_Result" />
    </operation>
    <operation name="Sendsms">
      <input name="Sendsms" message="tns:Sendsms" />
      <output name="Sendsms_Result" message="tns:Sendsms_Result" />
    </operation>
  </portType>
  <binding name="Mbranch_Binding" type="tns:Mbranch_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Post">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Mbranch:Post" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Post">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Post_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Sendsms">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Mbranch:Sendsms" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Sendsms">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Sendsms_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Mbranch">
    <port name="Mbranch_Port" binding="tns:Mbranch_Binding">
      <address location="http://desktop-elbbejj:4002/emba/WS/EMBASSAVA%20SACCO%20LTD/Codeunit/Mbranch" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>