AGENCY/AGENCY Service - Service/Web References/Smsservice/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="sms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Smsclient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sourceid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminationid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="balance" type="xs:int" />
      <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="results" nillable="true" type="tns:Results" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sms" nillable="true" type="tns:sms" />
  <xs:complexType name="Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Results" nillable="true" type="tns:Results" />
</xs:schema>