Mobile/S-Mobile/Clients/Sheria - Copy/Web References/AccountTypes/Account_Types.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/account_types" targetNamespace="urn:microsoft-dynamics-schemas/page/account_types" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/account_types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Interest_Posting_Date">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Last_Period_Day" />
          <xsd:enumeration value="Current_Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Ledger_Fee_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Monthly" />
          <xsd:enumeration value="Annual" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Ledger_Fee_Posting_Date">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Last_Period_Day" />
          <xsd:enumeration value="Current_Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Interest_Calculation_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Monthly" />
          <xsd:enumeration value="Annual" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Account_Class">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BOSA" />
          <xsd:enumeration value="FOSA" />
          <xsd:enumeration value="Fixed_Deposit" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Account_Category">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="General" />
          <xsd:enumeration value="Group_Account" />
          <xsd:enumeration value="Junior_Account" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Account_Types">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Minimu_Balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ATM_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_Banking_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Internet_Banking_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Earns_Interest" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interst_Rate" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interest_Posting_Date" type="tns:Interest_Posting_Date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attracts_Ledger_Fee" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ledger_Fee_Type" type="tns:Ledger_Fee_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ledger_Fee_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ledger_Fee_Posting_Date" type="tns:Ledger_Fee_Posting_Date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interest_Calculation_Type" type="tns:Interest_Calculation_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fixed_Deposit" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interest_Expense_Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interest_Payable_Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cheque_Deposit_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Deposit_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Withdrawal_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Transfer_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payout_Allowed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="W_T_Charge_Exempted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Accounts_Validated" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Balance_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Class" type="tns:Account_Class" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Group_Account" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Minimum_Group_Members" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Accounts" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Series" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prefix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NWD_Account" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Share_Capital" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Multiplier" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Savings_Account" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recoop_Interest_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reccop_Interest_Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Earns_Dividend" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Category" type="tns:Account_Category" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Max_Withdrawals" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mandatory" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Account_Types_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Account_Types" type="tns:Account_Types" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Account_Types_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Posting_Group" />
          <xsd:enumeration value="Minimu_Balance" />
          <xsd:enumeration value="ATM_Allowed" />
          <xsd:enumeration value="Mobile_Banking_Allowed" />
          <xsd:enumeration value="Internet_Banking_Allowed" />
          <xsd:enumeration value="Earns_Interest" />
          <xsd:enumeration value="Interst_Rate" />
          <xsd:enumeration value="Interest_Posting_Date" />
          <xsd:enumeration value="Attracts_Ledger_Fee" />
          <xsd:enumeration value="Ledger_Fee_Type" />
          <xsd:enumeration value="Ledger_Fee_Amount" />
          <xsd:enumeration value="Ledger_Fee_Posting_Date" />
          <xsd:enumeration value="Interest_Calculation_Type" />
          <xsd:enumeration value="Fixed_Deposit" />
          <xsd:enumeration value="Interest_Expense_Account" />
          <xsd:enumeration value="Interest_Payable_Account" />
          <xsd:enumeration value="Cheque_Deposit_Allowed" />
          <xsd:enumeration value="Cash_Deposit_Allowed" />
          <xsd:enumeration value="Cash_Withdrawal_Allowed" />
          <xsd:enumeration value="Cash_Transfer_Allowed" />
          <xsd:enumeration value="Payout_Allowed" />
          <xsd:enumeration value="W_T_Charge_Exempted" />
          <xsd:enumeration value="Accounts_Validated" />
          <xsd:enumeration value="Total_Balance_LCY" />
          <xsd:enumeration value="Account_Class" />
          <xsd:enumeration value="Group_Account" />
          <xsd:enumeration value="Minimum_Group_Members" />
          <xsd:enumeration value="Accounts" />
          <xsd:enumeration value="No_Series" />
          <xsd:enumeration value="Prefix" />
          <xsd:enumeration value="NWD_Account" />
          <xsd:enumeration value="Share_Capital" />
          <xsd:enumeration value="Loan_Multiplier" />
          <xsd:enumeration value="Savings_Account" />
          <xsd:enumeration value="Recoop_Interest_Percent" />
          <xsd:enumeration value="Reccop_Interest_Account" />
          <xsd:enumeration value="Earns_Dividend" />
          <xsd:enumeration value="Account_Category" />
          <xsd:enumeration value="Max_Withdrawals" />
          <xsd:enumeration value="Mandatory" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Account_Types_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Account_Types_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Account_Types_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Account_Types_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types_List" type="tns:Account_Types_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types_List" type="tns:Account_Types_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types" type="tns:Account_Types" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types_List" type="tns:Account_Types_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Account_Types_List" type="tns:Account_Types_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Account_Types_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Account_Types_Binding" type="tns:Account_Types_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/account_types:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Account_Types_Service">
    <port name="Account_Types_Port" binding="tns:Account_Types_Binding">
      <address location="http://paulo:212/Bandari/WS/BANDARI/Page/Account_Types" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>