Data/Web References/S_Mobile/S_Mobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/S_Mobile" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/S_Mobile" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/S_Mobile" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="Balance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="acc" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Balance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetErrorCode">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="errorcode" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetErrorCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Post">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Post_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AdvanceEligibility">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="account" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AdvanceEligibility_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="SendSms">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="source" type="string" />
            <element minOccurs="1" maxOccurs="1" name="telephone" type="string" />
            <element minOccurs="1" maxOccurs="1" name="textsms" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendSms_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Replacestring">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="string" type="string" />
            <element minOccurs="1" maxOccurs="1" name="findwhat" type="string" />
            <element minOccurs="1" maxOccurs="1" name="replacewith" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Replacestring_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Charge">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="transaction_Type" type="int" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="Charge_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="Balance">
    <part name="parameters" element="tns:Balance" />
  </message>
  <message name="Balance_Result">
    <part name="parameters" element="tns:Balance_Result" />
  </message>
  <message name="GetErrorCode">
    <part name="parameters" element="tns:GetErrorCode" />
  </message>
  <message name="GetErrorCode_Result">
    <part name="parameters" element="tns:GetErrorCode_Result" />
  </message>
  <message name="Post">
    <part name="parameters" element="tns:Post" />
  </message>
  <message name="Post_Result">
    <part name="parameters" element="tns:Post_Result" />
  </message>
  <message name="AdvanceEligibility">
    <part name="parameters" element="tns:AdvanceEligibility" />
  </message>
  <message name="AdvanceEligibility_Result">
    <part name="parameters" element="tns:AdvanceEligibility_Result" />
  </message>
  <message name="SendSms">
    <part name="parameters" element="tns:SendSms" />
  </message>
  <message name="SendSms_Result">
    <part name="parameters" element="tns:SendSms_Result" />
  </message>
  <message name="Replacestring">
    <part name="parameters" element="tns:Replacestring" />
  </message>
  <message name="Replacestring_Result">
    <part name="parameters" element="tns:Replacestring_Result" />
  </message>
  <message name="Charge">
    <part name="parameters" element="tns:Charge" />
  </message>
  <message name="Charge_Result">
    <part name="parameters" element="tns:Charge_Result" />
  </message>
  <portType name="S_Mobile_Port">
    <operation name="Balance">
      <input name="Balance" message="tns:Balance" />
      <output name="Balance_Result" message="tns:Balance_Result" />
    </operation>
    <operation name="GetErrorCode">
      <input name="GetErrorCode" message="tns:GetErrorCode" />
      <output name="GetErrorCode_Result" message="tns:GetErrorCode_Result" />
    </operation>
    <operation name="Post">
      <input name="Post" message="tns:Post" />
      <output name="Post_Result" message="tns:Post_Result" />
    </operation>
    <operation name="AdvanceEligibility">
      <input name="AdvanceEligibility" message="tns:AdvanceEligibility" />
      <output name="AdvanceEligibility_Result" message="tns:AdvanceEligibility_Result" />
    </operation>
    <operation name="SendSms">
      <input name="SendSms" message="tns:SendSms" />
      <output name="SendSms_Result" message="tns:SendSms_Result" />
    </operation>
    <operation name="Replacestring">
      <input name="Replacestring" message="tns:Replacestring" />
      <output name="Replacestring_Result" message="tns:Replacestring_Result" />
    </operation>
    <operation name="Charge">
      <input name="Charge" message="tns:Charge" />
      <output name="Charge_Result" message="tns:Charge_Result" />
    </operation>
  </portType>
  <binding name="S_Mobile_Binding" type="tns:S_Mobile_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Balance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:Balance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Balance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Balance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetErrorCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:GetErrorCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetErrorCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetErrorCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Post">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:Post" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Post">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Post_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="AdvanceEligibility">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:AdvanceEligibility" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AdvanceEligibility">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AdvanceEligibility_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendSms">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:SendSms" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendSms">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendSms_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Replacestring">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:Replacestring" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Replacestring">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Replacestring_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Charge">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/S_Mobile:Charge" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Charge">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Charge_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="S_Mobile">
    <port name="S_Mobile_Port" binding="tns:S_Mobile_Binding">
      <address location="http://paulo:112/Ollin/WS/Ollin%20Sacco%20Ltd/Codeunit/S_Mobile" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>